<div class="well">
    <form novalidate class="css-form" name="form"> <!--crud-edit="product" -->
        <legend>Product</legend>
        
            <div>
                <label>Title</label>
                <input type="text" name="title" ng-model="product.title" required autofocus>
            </div>
            <div>
                <label>Description</label>
                <textarea rows="10" cols="20" name="description" ng-model="product.description" required></textarea>
            </div>
            <div>
            	<label>Previous Price</label>
            	<input type="number" name="previous_price" ng-model="product.price.prev">
            </div>
            <div>
            	<label>Current Price</label>
            	<input type="number" name="current_price" ng-model="product.price.current" required>
            </div>
            <div>
            	<label>Due</label>
            	<input type="text" name="date" ng-model="product.due" required>
            </div>
            <div>
            	<label>Images</label>
            	<div ng-repeat="image in product.images">
            		<input type="url" ng-model="image.url">
            	</div>
            	<input type="url" ng-model="urlValue"><a ng-click='addUrl(urlValue)' ng-disabled="!urlValue">Add</a>
            </div>
            <div>
            	<label>Color</label>
            	<input ng-list ng-model="product.colors" required>
            </div>
            <div>
            	<label>Size</label>
            	<input ng-list ng-model="product.sizes" required>
            </div>
            <div>
            	<label>Categories</label>
            	<input ng-list ng-model="product.categories" required>
            </div>
            <div>
            	<label>Tags</label>
            	<input ng-list ng-model="product.tags" required>
            </div>
            <div>
            	<label>Active</label>
            	<input type="checkbox" name="active" ng-model="product.active" ng-checked="true" required>
            </div>
            <div>
            	<label>Memo</label>
            	<textarea rows="5" cols="10" name="memo" ng-model="product.memo"></textarea>
            </div>
        
        <!--<div class="row-fluid">
            <hr>
            <crud-buttons class="span12"></crud-buttons>
        </div>-->
    </form>
</div>