<!DOCTYPE html>
<html ng-app="boilerplate" ng-controller="AppCtrl">
  <head>
    <meta charset="utf-8">
    <title>haituan.us</title>

    <!-- social media tags -->
    <meta name="twitter:card" content="An oversea shopping site - haituan.us!">
    <meta name="twitter:site" content="@haituan.us">
    <meta name="twitter:title" content="haituan.us">
    <meta name="twitter:description" content="An oversea shopping site, with groupon features.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="haituan.us" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://haituan.us" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="An oversea shopping site, with groupon features.">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css />
    <![endif]-->

    <!-- compiled JS --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li ui-route="/home" ng-class="{active:$uiRoute}">
                  <a href="#/home">
                    <i class="icon-home"></i>
                    haituan.us - 海团网
                  </a>
                </li>
                <li ui-route="/about" ng-class="{active:$uiRoute}">
                  <a href="#/about">
                    <i class="icon-info-sign"></i>
                    关于我们
                  </a>
                </li>
              </ul>
              <!--<ul class="nav pull-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Services
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#/product">Admin Products</a></li>
                    <li><a href="#/product/create">Create Product</a></li>
                    <li><a href="#/product">Product!</a></li>
                  </ul>
                </li>
              </ul>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <ul class="social">
            <li><a target="_blank" href="http://haituan.us"><i class="icon-google-plus-sign"></i></a></li>
            <li><a target="_blank" href="http://haituan.us"><i class="icon-twitter-sign"></i></a></li>
            <li><a target="_blank" href="http://haituan.us"><i class="icon-linkedin-sign"></i></a></li>
            <li><a target="_blank" href="http://haituan.us"><i class="icon-github-sign"></i></a></li>
          </ul>
          

          <p>
            (c) 2013
            <a href="http://haituan.us">海团网</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
