<!-- detail.tpl.html -->

<div class="img img-rounded clearfix"><img src="{{product.images[0].url}}"/></div>

<div class="title clearfix">
  <h1>{{product.title}} </h1>
  <small>Due Date : {{product.due}}</small>
</div>

<div class="size clearfix">
  <!--<label for="select01">Size</label>-->
  Size : <select ng-model="product.size" ng-options="s for s in product.sizes"></select>
</div>
<div class="color clearfix">
  <!--<label for="select01">Color</label>-->
  Color: <select ng-model="product.color" ng-options="c for c in product.colors"></select>
</div>

<div class="button clearfix">
  <p><a class="btn btn-primary btn-large">Buy it</a></p>
  <p><a class="btn btn-info">Gift it</a></p>
</div>

<div class="price clearfix">
	<div class="prev">{{product.price.prev}}</div>
	<div class="current">{{product.price.current}}</div>
</div>

<div class="description clearfix">{{product.description}}</div>
<div class="categories">{{product.categories}}</div>
<div class="tags">{{product.tags}}</div>